<!doctype html>

<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../styles/listes.css" />
    <script type = "text/javascript" src="listes.js"></script>
  </head>
  <body>
        <div class="popup-liste">
            <div class="titre">
                <h3>My Todo listes</h3>
            </div>
            <div class="liste">
                <input type="text" id="new-task" placeholder="Ajouter une nouvelle tâche...">
                <button id="add-task-btn"> Ajouter </button>
                <ul id="task-list"></ul>
            </div>
        </div>
        <script src="../scripts/listes.js"></script>
  </body>
</html>